head
    title Kyaputen
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- Stylesheets
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed")
    link(rel="stylesheet", href="public/stylesheets/style.css")
    //- Javascript
    script(type="application/javascript", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous", src="https://code.jquery.com/jquery-3.4.1.min.js", defer)
    script.
      window.jQuery || document.write(`<script type="application/javascript" src="public/javascripts/dist/jquery/dist/jquery.min.js" defer><\/script>`)
    //- Libraries
    script(type="application/javascript", src="public/javascripts/dist/bootstrap/dist/js/bootstrap.bundle.min.js", defer)
    script(type="application/javascript", src="public/javascripts/dist/mustache/mustache.min.js", defer)
    //- Scripts
    script(type="application/javascript", src="public/javascripts/utils.js", defer)
    script(type="application/javascript", src="public/javascripts/ws.js", defer)
    //- Dashboard
    script(type="application/javascript", src="public/javascripts/dashboard.js", defer)