doctype html
html
  include tpl/head
  body.container-fluid.no-gutters.p-2
    div.row.h-100
      div.toasts.col-12.d-flex.flex-column.justify-content-end.align-items-center.mh-100
        div.toast.custom-toast.p-1
          div.wrap.d-flex.flex-column.px-2.py-3
            //- div.title-bar.d-flex.flex-row.py-3
            div.content.d-block
              ul.list-unstyled.p-0.m-0
  //- Templates
  include /views/mustache/toast-job