script#mustache-combat-entry-encdps(type="x-tmpl-mustache")
    div.combat-entry.d-flex.flex-row.justify-content-start.align-items-center.text-light.text-shadow.position-relative.p-1.m-0(
        id = `combat-entry-encdps-{{display_name_short}}`,
        class = `job-{{job}}`,
        class = `{{#you}}you{{/you}}`,
        data-sonsho = { sort: `{{encdps}}`}
    )
        div.bar-graph.position-absolute.h-100(style={ width: `{{fraction.encdps}}%` })
        img.mr-1
        span.entrant-name.flex-grow-1 {{display_name}}
        span.d-inline-block.text-right
            span.entrant-damage.d-inline-block(data-sonsho={ key: 'damage' }) {{#format}}damage{{/format}}
            span.entrant-dps.d-inline-block.font-weight-bold.ml-1(data-sonsho={ key: 'encdps' }) {{#format}}encdps{{/format}}
            span.entrant-total-damage-fraction.d-inline-block.ml-1(data-sonsho={ key: 'fraction.damage' }) {{#format}}fraction.damage{{/format}}
        