script#mustache-toast-job(type="x-tmpl-mustache")
    li.mechanic.d-flex.text-nowrap(class="phase-{{phase}}")
        span.ttl-wrap.position-relative.d-inline-block.text-center
            span.ttl {{ttl}}
            svg.position-absolute #[circle(r="12" cx="16" cy="16", style="animation-duration:{{ttl}}s;")]
        span.message-wrap.flex-grow-1.text-left
            span.icon.mr-2 #[img(src="{{mechanic.icon}}")]
            span.message.text-white.mr-2 {{mechanic.name}}